/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Accessibility
# Alignments
# Clearings
# Content
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html, body, blockquote, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, q, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #424242;
  font-family: "Droid Serif", serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 736px) {
  body,
  button,
  input,
  select,
  textarea {
    line-height: 32px;
  }
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #212121;
  font-family: "Anton", sans-serif;
  font-weight: normal;
  margin: 0 0 17px;
  line-height: 1.2;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 3em;
}

h2, .h2 {
  font-size: 2.5em;
}

h3, .h3 {
  font-size: 1.75em;
}

h4, .h4 {
  font-size: 1.5em;
}

h5, .h5 {
  font-size: 1.2em;
}

h6, .h6 {
  font-size: 1em;
}

.dropcap {
  float: left;
  font-size: 3.5em;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
}

dfn, cite, em, i, q {
  font-style: italic;
}

address {
  font-style: normal;
  margin: 0 0 40px;
}

code, kbd, tt, var {
  background-color: rgba(66, 66, 66, 0.1);
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  padding-left: 3px;
  padding-right: 3px;
}

code br {
  display: none;
}
code p {
  margin-bottom: 15px;
}

abbr[title], dfn[title], acronym {
  border-bottom-width: 0;
  cursor: help;
}

mark, ins {
  background-color: #ff8a80;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
}

big {
  font-size: 125%;
}

pre {
  border-color: rgba(66, 66, 66, 0.1);
  border-style: solid;
  border-width: 2px;
  color: #616161;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  padding: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*,
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Droid Serif", serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 18px;
}

@media screen and (max-width: 736px) {
  html {
    font-size: 15px;
  }
}
body {
  background-color: #f8f8f8;
  background-position: left;
  overflow-x: hidden !important;
  word-wrap: break-word;
}

q {
  quotes: none;
}

hr {
  background-color: rgba(66, 66, 66, 0.1);
  border: 0 none;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl {
  margin-bottom: 40px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 28px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  max-width: 100%;
  width: 100%;
}

table th {
  text-align: left;
}

table tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(66, 66, 66, 0.1);
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  vertical-align: top;
  padding: 8px;
}

table > thead > tr > th {
  vertical-align: bottom;
}

table col[class*="col-"] {
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.xf__button {
  -moz-user-select: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: none;
  border: 0 none;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  padding: 15px 27px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-family: "Droid Serif", serif;
  text-transform: uppercase;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.xf__button:focus {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

input[type="submit"],
.xf__button {
  background-color: #37474f;
  border-color: #37474f;
  color: #ffffff;
}
input[type="submit"]:hover, input[type="submit"]:focus,
.xf__button:hover,
.xf__button:focus {
  background-color: #ff8a80;
  border-color: #ff8a80;
  color: #ffffff;
}

fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  border-width: 0;
}

legend {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  line-height: inherit;
}

label {
  cursor: pointer;
  display: inline-block;
  font-size: 90%;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(66, 66, 66, 0.1);
  border-color: rgba(66, 66, 66, 0.1);
  border-style: solid;
  border-width: 1px;
  color: #424242;
  font-size: .85em;
  line-height: 1;
  margin-bottom: 8px;
  padding: 20px 15px;
  width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
  border-color: #616161;
}

select {
  max-width: 100%;
  padding: 7px 15px;
  width: 95%;
}
select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
select option {
  cursor: pointer;
  display: block;
  line-height: 1;
  padding: 7px 15px;
  vertical-align: middle;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}

textarea {
  line-height: 1.8;
}

form p {
  margin-bottom: 20px;
}
form .form-half-left,
form .form-author {
  float: left;
  width: 48.6%;
}
form .form-half-right,
form .form-email {
  float: right;
  width: 48.6%;
}
form .form-full,
form .form-url {
  clear: both;
  width: 100%;
}
form .form-submit {
  margin-bottom: 40px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f8f8f8;
  color: #424242;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  clip: auto !important;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-bottom: 15px;
  margin-right: 30px;
  text-align: left;
}

.alignright {
  display: inline;
  float: right;
  margin-bottom: 15px;
  margin-left: 30px;
  text-align: right;
}

.aligncenter {
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 981px) {
  .xf__entry.xf__singular img[class*="wp-image-"].alignleft {
    margin: 10px 30px 15px -65px;
  }
  .xf__entry.xf__singular img[class*="wp-image-"].alignright {
    margin: 10px -65px 15px 30px;
  }
}
/*--------------------------------------------------------------
# Blockquote
--------------------------------------------------------------*/
blockquote {
  color: #ff8a80;
  font-size: 1.4em;
  font-style: normal;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 66px;
  position: relative;
}
blockquote:first-child {
  margin-top: 0;
}
blockquote::before {
  color: rgba(255, 138, 128, 0.65);
  content: '\f10d';
  font-family: FontAwesome;
  font-size: 2em;
  left: 0;
  position: absolute;
  top: 12px;
}
.xf__footer blockquote::before {
  color: rgba(255, 138, 128, 0.65);
}
blockquote cite {
  display: block;
  font-size: 1.15rem;
  margin-top: 20px;
}
blockquote cite:before {
  content: ' ~ ';
}
blockquote a {
  font-style: italic;
}
blockquote > p:last-child {
  margin-bottom: 0;
}
blockquote.superpack__pull-left, blockquote.superpack__pull-right {
  padding-left: 66px;
  width: 50%;
}
blockquote.superpack__pull-left::before, blockquote.superpack__pull-right::before {
  font-size: 2em;
}
blockquote.superpack__pull-left {
  float: left;
  margin: 10px 30px 15px 0;
}
blockquote.superpack__pull-right {
  float: right;
  margin: 10px 0 15px 30px;
}

@media screen and (min-width: 981px) {
  .xf__entry.xf__singular blockquote:not(.superpack__pull-left):not(.superpack__pull-right) {
    margin-left: -65px;
    padding-left: 95px;
  }
  .xf__entry.xf__singular blockquote:not(.superpack__pull-left):not(.superpack__pull-right)::before {
    font-size: 2.5em;
    top: 18px;
  }
  .xf__entry.xf__singular blockquote.superpack__pull-left {
    margin-left: -65px;
  }
  .xf__entry.xf__singular blockquote.superpack__pull-right {
    margin-right: -65px;
  }
}
@media screen and (max-width: 736px) {
  blockquote {
    margin-left: 0;
  }
  blockquote, blockquote.superpack__pull-left, blockquote.superpack__pull-right {
    padding-left: 46px;
  }
  blockquote::before, blockquote.superpack__pull-left::before, blockquote.superpack__pull-right::before {
    font-size: 1.5em;
  }
  blockquote.superpack__pull-left, blockquote.superpack__pull-right {
    float: none;
    margin: 0 0 40px 0;
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-footer:before,
.site-footer:after,
.comments_list_widget li:before,
.comments_list_widget li:after,
.row:before,
.row:after,
.gallery:before,
.gallery:after,
.xf__nav-image:before,
.xf__nav-image:after,
.xf__nav-post:before,
.xf__nav-post:after,
.xf__nav-post a:before,
.xf__nav-post a:after,
.xf__header .content:before,
.xf__header .content:after,
.xf__widget-posts li:before,
.xf__widget-posts li:after,
.xf__container:before,
.xf__container:after {
  content: "";
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-footer:after,
.comments_list_widget li:after,
.row:after,
.gallery:after,
.xf__nav-image:after,
.xf__nav-post:after,
.xf__nav-post a:after,
.xf__header .content:after,
.xf__widget-posts li:after,
.xf__container:after {
  clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
a {
  color: #ff8a80;
  text-decoration: none;
}
a:hover, a:focus {
  color: rgba(255, 138, 128, 0.85);
  text-decoration: none;
  outline: 0;
}

.entry-content::before, .entry-content::after {
  content: '';
  display: table;
  visibility: hidden;
}
.entry-content::after {
  clear: both;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content p,
.entry-content .embed-wrappar,
.entry-content .mejs-container {
  margin-bottom: 40px;
}
.entry-content .embed-wrappar embed,
.entry-content .embed-wrappar iframe,
.entry-content .embed-wrappar object {
  margin-bottom: 0;
}
.entry-content address p {
  margin-bottom: 15px;
}
.entry-content form p {
  margin-bottom: 20px;
}
.entry-content h1, .entry-content .h1,
.entry-content h2, .entry-content .h2,
.entry-content h3, .entry-content .h3,
.entry-content h4, .entry-content .h4,
.entry-content h5, .entry-content .h5,
.entry-content h6, .entry-content .h6 {
  font-family: "Droid Serif", serif;
  font-weight: 600;
  text-transform: none;
}
.entry-content h1, .entry-content .h1,
.entry-content h2, .entry-content .h2,
.entry-content h3, .entry-content .h3 {
  margin-top: 80px;
  margin-bottom: 40px;
}
.entry-content h4, .entry-content .h4,
.entry-content h5, .entry-content .h5,
.entry-content h6, .entry-content .h6 {
  margin-top: 60px;
  margin-bottom: 30px;
}
.entry-content h1:first-child, .entry-content .h1:first-child,
.entry-content h2:first-child, .entry-content .h2:first-child,
.entry-content h3:first-child, .entry-content .h3:first-child,
.entry-content h4:first-child, .entry-content .h4:first-child,
.entry-content h5:first-child, .entry-content .h5:first-child,
.entry-content h6:first-child, .entry-content .h6:first-child {
  margin-top: 0;
}
.entry-content ul,
.entry-content ol {
  line-height: 1.8;
  margin-bottom: 40px;
}
.entry-content ul li,
.entry-content ol li {
  margin-bottom: 0.6em;
  margin-left: 1.5em;
  margin-top: 0.6em;
}
.entry-content li > ul,
.entry-content li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
.entry-content ul {
  list-style: disc;
}
.entry-content ul > li > ul, .entry-content ol > li > ul {
  list-style: circle;
}
.entry-content ul > li > ul > li > ul {
  list-style: square;
}
.entry-content ol {
  list-style: decimal;
}
.entry-content ol > li > ol {
  list-style: lower-alpha;
}
.entry-content ol > li > ol > li > ol {
  list-style: decimal;
}
.entry-content > *:last-child {
  margin-bottom: 0;
}
.entry-content .xf__social li {
  margin: 0;
}

@media screen and (min-width: 668px) {
  .has-author-bio .entry-content > *:first-child {
    margin-right: 300px;
  }
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

.xf__feaured-image:not(.alignnone) img {
  margin-left: auto;
  margin-right: auto;
}

.xf__thumbnail img,
.xf__feaured-image img {
  display: block;
  height: auto;
  width: 100%;
}

.xf__feaured-image-alt {
  margin-left: auto;
  margin-right: auto;
}

body.page .xf__entry img.alignnone.full-width,
body.page .xf__entry img.aligncenter.full-width,
body.single .xf__entry img.alignnone.full-width,
body.single .xf__entry img.aligncenter.full-width {
  clear: both;
  left: 50%;
  max-width: 100vw;
  position: relative;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: auto;
  height: auto;
}

@media screen and (min-width: 981px) {
  body.page .xf__entry img.alignnone.size-big:not(.full-width),
  body.page .xf__entry img.aligncenter.size-big:not(.full-width),
  body.single .xf__entry img.alignnone.size-big:not(.full-width),
  body.single .xf__entry img.aligncenter.size-big:not(.full-width) {
    max-width: 920px;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: auto;
    height: auto;
  }
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  color: #616161;
  font-size: .85em;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 100%;
  overflow: hidden;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
}
.wp-caption .wp-caption-text,
.wp-caption .wp-caption-dd {
  margin: 0.8075em 0;
}
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignleft .wp-caption-dd, .wp-caption.alignright .wp-caption-text,
.wp-caption.alignright .wp-caption-dd, .wp-caption.caption-big .wp-caption-text,
.wp-caption.caption-big .wp-caption-dd, .wp-caption.full-width .wp-caption-text,
.wp-caption.full-width .wp-caption-dd {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.wp-caption.aligncenter img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body.page .wp-caption.alignnone.full-width, body.page .wp-caption.aligncenter.full-width,
body.single .wp-caption.alignnone.full-width,
body.single .wp-caption.aligncenter.full-width {
  clear: both;
  left: 50%;
  margin-left: -100vw;
  margin-right: -100vw;
  margin-top: 60px;
  max-width: 100vw;
  position: relative;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
body.page .wp-caption.alignnone.full-width img[class*="wp-image-"], body.page .wp-caption.aligncenter.full-width img[class*="wp-image-"],
body.single .wp-caption.alignnone.full-width img[class*="wp-image-"],
body.single .wp-caption.aligncenter.full-width img[class*="wp-image-"] {
  width: 100vw;
}

@media screen and (min-width: 981px) {
  .xf__entry.xf__singular .wp-caption.alignleft {
    margin: 10px 30px 15px -65px;
  }
  .xf__entry.xf__singular .wp-caption.alignright {
    margin: 10px -65px 15px 30px;
  }
  .xf__entry.xf__singular .wp-caption.alignnone.caption-big, .xf__entry.xf__singular .wp-caption.aligncenter.caption-big {
    margin-left: -65px;
    margin-right: -65px;
    max-width: 920px;
  }
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-right: -4px;
  margin-bottom: 40px;
  padding: 0;
}
.gallery.superpack__thumbnail {
  margin-right: 0;
}
.gallery .gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.gallery .gallery-item img {
  display: block;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(50% - 4px);
  max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: -webkit-calc(33.3% - 4px);
  max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n+1),
.gallery-columns-2 .gallery-item:nth-of-type(2n+1),
.gallery-columns-3 .gallery-item:nth-of-type(3n+1),
.gallery-columns-4 .gallery-item:nth-of-type(4n+1),
.gallery-columns-5 .gallery-item:nth-of-type(5n+1),
.gallery-columns-6 .gallery-item:nth-of-type(6n+1),
.gallery-columns-7 .gallery-item:nth-of-type(7n+1),
.gallery-columns-8 .gallery-item:nth-of-type(8n+1),
.gallery-columns-9 .gallery-item:nth-of-type(9n+1) {
  clear: left;
}

.gallery-caption {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  bottom: 0;
  left: 0;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  width: 100%;
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  -ms-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
}
.gallery-caption:before {
  content: "";
  height: 100%;
  left: 0;
  min-height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption, .gallery-item:focus .gallery-caption {
  opacity: 1;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/*--------------------------------------------------------------
# Misc/Fixes for WpView
--------------------------------------------------------------*/
html {
  margin: 0 auto;
  max-width: 920px;
}

body {
  margin: 15px;
}

@media screen and (min-width: 736px) {
  body {
    margin: 20px 78px;
  }
}
.wpview-wrap {
  margin-bottom: 0;
}
.wpview-wrap[data-mce-selected] {
  border-color: transparent;
  background-color: transparent;
}
.wpview-wrap .toolbar div {
  padding: 0;
}

.mce-content-body .wp-audio-playlist {
  margin: 0;
}

.wp-caption-dt br {
  display: none;
}

.wp-caption-dd {
  font-size: inherit;
  margin: inherit;
  padding: inherit;
}

.mce-item-table {
  border-collapse: separate;
  border-spacing: 0;
  border-style: solid none none solid;
  border-width: 1px 0 0 1px;
  margin: 0 0 28px;
  width: 100%;
}
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
  border-style: solid;
  border-width: 1px;
}
.mce-item-table th {
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
  font-weight: 700;
  padding: 7px;
  text-align: left;
  vertical-align: baseline;
}
.mce-item-table td {
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
  padding: 7px;
  vertical-align: baseline;
}
